body {
  font-family: 'Open Sans', sans-serif;
  background: #2C2B3D;
  color: #C2C2C2;
  min-height: 100vh;
  margin: 0;
}

span {
  color: #00bfa6;
}

.page {
  width: 1092px;
  margin: auto;
  padding-top: 70px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

nav ul{
  list-style: none;
  
  display: flex;
  align-items: center;
  gap: 64px;
  font-family: 'JetBrains Mono', sans-serif;
}

a {
  list-style: none;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

main section h1{
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 59px;
}

main section p {
  font-size: 16px;
  line-height: 28px;
}

footer {
  font-family: 'JetBrains Mono', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  margin-top: 154px;
  text-align: center;
}

footer .line {
  width: 568px;
  border: 1px solid #00bfa6;
  margin: 0 auto 30px; 
}


#padlock {
  position: absolute;
  bottom: 0;
  margin: 20px;
}